@Model SocialMediaSat.Models.TweetDB
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <p>Username: @Model.Username</p>
        <p>Firstname: @Model.Firstname</p>
        <p>Lastname: @Model.Lastname</p>
        <p>Likes: @Model.Likes</p>
        <p>Retweets: @Model.Retweets</p>
        <p>Text: @Model.Text</p>
    </div>
</body>
</html>
@*yeetus*@