@Model SocialMediaSat.Models.TweetListModel
@{ ViewBag.Title = "TweetForm";}
<div id="SearchParent">

    <div id="SearchBox">
        <h4>Enter Twitter Handle</h4>

        @using (@Html.BeginForm("Create", "Home", FormMethod.Post))
        {
            <input type="text" name="text" maxlength="15" input pattern="^[A-Za-z0-9_]{1,15}$" />
            <input type="submit">
            <p></p>
        }

        <p>Perform Comparison on @Session["Handle"]</p>
        @using (@Html.BeginForm("SuperCompare", "Home", FormMethod.Get))
        {
            <input type="submit" value="Super Comparison" />
        }

    </div>

    <div id="SearchInfo">
        <h4>Welcome to SMS!</h4>
        <p>Search your favorite Twitter Handle to see how they are performing!</p>
        <p>Type in any Handle by providing an alphanumeric string and underscores only.</p>
        <p>Also, all handles are 15 characters or less</p>
        @if (ViewBag.Tweet != null)
        {
            <h2>Likes Results</h2>
            <p>@ViewBag.Like</p>
            }
        @if (ViewBag.Trend != null)
        {
            <h2>Trending Results</h2>
            <p>@ViewBag.Trend</p>
        }
        @if (ViewBag.Score != null)
        {
            <h2>Super Comparison Score!</h2>
            <p>@Session["Handle"] score is: @ViewBag.Score</p>
        }


    </div>


</div>

@if (!(Model == null))
{
    <h2 style="color:#FFCB9A">TweetsList for @Session["Handle"]</h2>
    <div id="ReturnParent">
        @for (int i = 0; i < ((IEnumerable<dynamic>)Model.TweetsList).Count(); i++)
        {
        <div id="SearchReturn">
            @using (@Html.BeginForm("Messages", "Home", FormMethod.Get))
            {
                <p>Status: @Model.TweetsList[i].Text</p>
                <p>Likes: @Model.TweetsList[i].Likes</p>
                <p>Retweets: @Model.TweetsList[i].Retweets</p>
                <p>Hashtags:  @Model.TweetsList[i].Entities.HashTagsDisplay</p>
                <input type="hidden" name="Tweet" value="@Model.TweetsList[i].Text" />
                <input type="hidden" name="Likes" value="@Model.TweetsList[i].Likes" />
                <input type="hidden" name="Retweets" value="@Model.TweetsList[i].Retweets" />
                <input type="submit" value="Analyze Likes" />
            }

            @if (Model.TweetsList[i].Entities.Hashtags.Count != 0)
            {
                using (@Html.BeginForm("CompareTags", "Home", FormMethod.Get))
                        {
                            <input type="hidden" name="Hashtags" value="@i" />
                            <input type="submit" value="Compare Trending" />
                        }

            }
        </div>
            if (i % 4 == 0)
            {<br />}
        }
    </div>
}


